/****************************************************************
 *
 * CSS Percentage Circle
 * Author: Andre Firchow
 *
*****************************************************************/
.rect-auto, .c100.p84 .slice, .c100.p92 .slice, .c100.p79 .slice {
  clip: rect(auto, auto, auto, auto); }

.pie, .c100 .bar, .c100.p84 .fill, .c100.p92 .fill, .c100.p79 .fill {
  position: absolute;
  border: 0.05em solid #00796b;
  width: 0.9em;
  height: 0.9em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

.pie-fill, .c100.p84 .bar:after, .c100.p84 .fill, .c100.p92 .bar:after, .c100.p92 .fill, .c100.p79 .bar:after, .c100.p79 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #ccc; }
  .c100 *, .c100 *:before, .c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
  .c100.center {
    float: none;
    margin: 0 auto; }
  .c100.big {
    font-size: 240px; }
  .c100.small {
    font-size: 80px; }
  .c100 > span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #00796b;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .c100:after {
    position: absolute;
    top: 0.05em;
    left: 0.05em;
    display: block;
    content: " ";
    border-radius: 50%;
    background-color: #fff;
    width: 0.9em;
    height: 0.9em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in; }
  .c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em); }
  .c100.p84 .bar {
    -webkit-transform: rotate(302.4deg);
    -moz-transform: rotate(302.4deg);
    -ms-transform: rotate(302.4deg);
    -o-transform: rotate(302.4deg);
    transform: rotate(302.4deg); }
  .c100.p92 .bar {
    -webkit-transform: rotate(331.2deg);
    -moz-transform: rotate(331.2deg);
    -ms-transform: rotate(331.2deg);
    -o-transform: rotate(331.2deg);
    transform: rotate(331.2deg); }
  .c100.p79 .bar {
    -webkit-transform: rotate(284.4deg);
    -moz-transform: rotate(284.4deg);
    -ms-transform: rotate(284.4deg);
    -o-transform: rotate(284.4deg);
    transform: rotate(284.4deg); }

#professional-skills h5 {
  margin-top: 0rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: #616161; }

#professional-skills table {
  margin-top: 2rem; }
  #professional-skills table td {
    white-space: nowrap;
    width: 50%; }
    #professional-skills table td.tech {
      text-align: right; }

#professional-skills .material-icons {
  font-size: 0.9em;
  color: #aaa; }
  #professional-skills .material-icons.filled {
    color: #00796b; }

#work-experience .col.work-summary {
  border-left: 0.2rem solid #00796b;
  padding-left: 2rem;
  padding-bottom: 3rem; }
  #work-experience .col.work-summary .company-title {
    position: relative; }
    #work-experience .col.work-summary .company-title:before {
      content: '';
      position: absolute;
      left: -2.7rem;
      width: 1.2rem;
      height: 1.2rem;
      background: #fff;
      top: 0;
      border: 0.2rem solid #00796b;
      border-radius: 50%; }

nav {
  margin-bottom: 2rem; }
  nav ul {
    display: inline-block; }

h6 {
  font-size: 1.2rem; }

.card .card-content p {
  margin: 1rem 0; }

table.condensed td {
  padding: 5px; }

.no-margin-bottom {
  margin-bottom: 0; }

.section .container .card .card-content h4 {
  margin-bottom: 4rem; }
