
$teal-font-color: #b3efe8;
$teal-font-color-emp: #e5fffc;

$accent-color: #00796b; // Same as teal darken-3
$background-color: #fff;

$font-color-lighter: #616161;

$font-color: rgba(0, 0, 0, 0.87);
$font-color-hover: $font-color;
