.introduction-profile {
  padding: 4rem 0 2rem;
  color: $teal-font-color;
  text-align: justify;

  h1, b {
    color: $teal-font-color-emp;
  }

  h1, h6 {
    text-align: center;
  }

  h1 {
    margin: 0;
  }

  h6 {
    margin: 2rem 0;
  }
}

.introduction-contact {
  ul {
    text-align: center;
    margin: 1rem 0;
    color: $teal-font-color;

    li {
      display: inline-block;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      i.material-icons {
        vertical-align: middle;
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $teal-font-color;
        &:hover {
          color: $teal-font-color-emp;
        }
      }
    }
  }
}
