#profile-summary {

  h5 {
    @extend .strong;
  }

  table tr td {
    &:first-child {
      @extend .strong;
    }

    a {
      color: $font-color;
      &:hover {
        color: $font-color-hover;
      }
    }
  }
}
