#skills-abilities {
  h5 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: $font-color-lighter;
  }

  table {
    margin-top: 2rem;

    td {
      white-space: nowrap;
      width: 50%;

      &.tech {
        text-align: right;
      }
    }
  }

  .divider {
    margin: 2rem 0;
  }

  .material-icons {
    font-size: 0.9em;
    color: #aaa;

    &.filled {
      color: $accent-color;
    }
  }
}
