.timeline {
  $heading-font-size: 1.2rem;
  $padding-left: 2rem;

  .col.entry-meta {
    .title, .date, .sub-title {
      $col-padding: 0.75rem;
      text-align: right;
      padding-right: $padding-left - $col-padding;
    }

    .date {
      color: $font-color-lighter;
    }
  }
  .col.entry-summary {
    $timeline-width: 0.2rem;

    border-left: $timeline-width solid $accent-color;
    padding-left: $padding-left;
    padding-bottom: 3rem;

    .title {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -($padding-left + $timeline-width / 2 + $heading-font-size / 2);
        width: $heading-font-size;
        height: $heading-font-size;
        background: #fff;
        top: 0;
        border: 0.2rem solid $accent-color;
        border-radius: 50%;
      }
    }

    .divider {
      margin: 2rem 0 0 0;
    }
  }
}
