@import 'colors';

@import 'vendor/circle';

@import 'timeline';

@import 'introduction';
@import 'skills_abilities';
@import 'profile-summary';

.strong {
  color: $accent-color;
  text-transform: uppercase;
  font-weight: bold;
}

#nav-placeholder {
  margin-bottom: 2rem;
  height: 64px;

  nav {
    &.pinned {
      z-index: 10000;
      height: 56px;
      line-height: 56px;
      -moz-transition: height 0.3s ease;
      -webkit-transition: height 0.3s ease;
      -o-transition: height 0.3s ease;
      transition: height 0.3s ease;

      ul {
        > li > a.active {
          background: $accent-color;
        }
        &.side-nav > li > a.active {
          background: #dedede;
        }
      }
    }

    ul {
      display: inline-block;
    }

    #mobile-sidenav {
      ul > li {
        text-align: left;
      }
    }
  }
}

h6 {
  font-size: 1.2rem;
}

.card .card-content p {
  margin: 1rem 0;
}

table.condensed td {
  padding: 5px;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.section .container .card .card-content h4 {
  margin-bottom: 4rem;
}

.footer {
  height: 130px;
  margin-top: 4rem;
  border-top: 30px solid $accent-color;
}
